<div class="book-details">
<div class="cart" *ngIf="book">
    <div class="cart-body">
        <h5 class="cart-title">{{book.title}}</h5>
        <h6 class="cart-subtitle mb-2 text-muted"> by {{book.author}}</h6>
        <p>
            {{book.description}}
           
        </p>
        <a [routerLink]="['/books']" class="card-link btn btn-primary">Back</a>
        <!-- <a [routerLink]="['/update-book/book.id']" class="card-link">Update</a> -->
         <a class="card-link btn btn-success" (click)="updateBook(book.id)">Update</a>
    </div>
</div>
</div>