<h1>Book Summaries</h1>
 <p *ngIf="!books"><b>loading...</b></p>
<table class="table table-striped" *ngIf="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Rate</th>
            <th>DateStarted</th>
            <th>Date Read</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.title}}</td>
                <td>{{book.description | slice:0:50}}...</td>
                <td>{{book.author}}</td>
                <td>{{book.rate}}</td>
                <td>{{book.dateStart | date: "dd/mm/yyyy"}}</td>
                <td>{{book.dateEnd | date: "dd/mm/yyyy"}}</td>
                <td>{{book.dateEnd ? "Read" : book.dateStart ? "In Progress" : "Not yet started "}}</td>
                <td>
                 <button type="button" class="btn btn-primary btn-sm" (click)="showBook(book.id)">
                     Show
                 </button>
                 <button type="button" class="btn btn-success btn-sm" (click)="updateBook(book.id)">
                    Update
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">
                    Delete
                </button>
                </td>

            </tr>
    </tbody>
</table>